/*home.css is for home styles*/

.landing {
    /*background-image: url("../media/backsplash.jpg");*/
    background-color: rgba(0,0,0,0.3);
}

.projects {
    background-image: url("../media/home/PayloadBacksplash.jpg");
}

.outreach {
    background-image: url("../media/home/OutreachBacksplash.jpg");
}

/*.weare, .upcomingEvents {*/
/*    background-image: url("../media/home/backsplashblur.png");*/
/*    background-size: cover;*/
/*}*/

.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.RocketIMG {
    width: 400px;
    height: 520px;
    border-radius: 10px;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the viewport without stretching */
    z-index: -1; /* Places the video behind the text */
}

@media screen and (max-width: 1250px) {
    .RocketIMG {
        max-width: 400px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 800px) {
    .RocketIMG {
        width: 100%;
        border-radius: 10px;
    }
}