button {
    /*border: none;*/
    font-weight: bold;
    font-size: inherit;
    font-family: 'DIN 2014';
    /*border-radius: 100px;*/
    border-radius: var(--borderRadius);
    padding: 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: white;
    border: solid 2px #fff;
}

button a {
    margin: 0;
}

button:hover {
    /*background-color: rgba(0,0,0,0);*/
    /*border: solid 2px #fff;*/
    /*border-color: var(--highlight);*/
    color: black;
    background-color: white;
    transition: 0.2s;
}