button {
    /*background-color: rgba(0,0,0,0);*/
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: 'DIN 2014';
    border-radius: 100px;
    padding: 10px 25px;
    text-transform: uppercase;
    cursor: pointer;
    /*border: solid 2px #fff;*/
    /*color: white;*/
}

button a {
    margin: 0;
}