/* Navbar Base */
.RTLogoNav {
    height: 40px;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    /*transition: 0.4s;*/
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav.expanded, nav.scrolled  {
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(40px);
}

/* Navbar Container */
.navContainer {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

/* Subcategory Container */
.subcategoryContainer {
    display: flex;
    width: 1250px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    color: #fff;
}

/* Subcategory Sections */
.subcategorySection {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.subcategorySection a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}
