/* Navbar Base */
.RTLogoNav {
    height: 40px;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    /*transition: 0.4s;*/
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav.expanded,
nav.scrolled {
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(40px);
}

/* Navbar Container */
.navContainer {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

/* Subcategory Container */
.subcategoryContainer {
    display: flex;
    width: 1250px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    color: #fff;
}

/* Subcategory Sections */
.subcategorySection {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.subcategorySection a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}



/*<!-- HTML !-->*/

/* CSS */
.givingDayButton {
    padding: 10px 25px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 100px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.givingDayButton:before {
    content: "";
    background: linear-gradient(45deg,
            /*#ff0000,*/
            /*#ff7300,*/
            /*#fffb00,*/
            /*#48ff00,*/
            /*#00ffd5,*/
            /*#002bff,*/
            /*#7a00ff,*/
            /*#ff00c8,*/
            /*#ff0000*/

            #ff00c8,
            #8e27ff,
            #006fff,
            #00ffd5,
            #006fff,
            #8e27ff,
            #ff00c8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 40s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 100px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.givingDayButton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 100px;
}